<mat-toolbar color="primary">
    <span class="app-title">Mi App</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/inicio" routerLinkActive="active-link">Inicio</button>
    <button mat-button routerLink="/productos" routerLinkActive="active-link">Productos</button>
    <button mat-button routerLink="/compras-y-ventas" routerLinkActive="active-link">Compras y Ventas</button>
    <button mat-button routerLink="/transacciones" routerLinkActive="active-link">Transacciones</button>
</mat-toolbar>